body {
  font-family: "Helvetica", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  color: #eeeeee;
  background-color: #151515;
  box-sizing: border-box;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 15px;
}

#logo {
  width: 150px;
  height: auto;
}

#nav-bar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

#nav-bar li {
  display: inline;
  padding: 0 10px 0 10px;
}

#nav-bar li a {
  font-size: 1.2em;
  color: #eeeeee;
  text-decoration: none;
}

#nav-bar li a:hover {
  color: #b20710;
}

.main-content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  margin-bottom: 20px;
  
}

.poster img{
  border-radius: 10px;
  width: 200px;
  height: auto;
}

.media-descript{
  padding-left: 15px;
  font-size: 0.9em;
}
#name-media{
  padding-bottom: 20px;
}

#name-media h1, h2{
  padding-top: 5px;
  margin: 5px;
}

#btn button{
  border-radius: 5px;
  font-size: 1em;
  padding: 5px;
  margin: 10px 20px 15px 0;
  border-radius: 8px;
  border: none;
  background-color: #4f4f4f;
  color: #b5b5be;
  cursor: pointer;
  width: 90px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

#btn button:hover{
  background-color: #b20710;
}

.tags p, a {
  display: inline;
  margin: 10px 10px 10px 0;
  text-decoration: none;
  color: #eeeeee;
}